body {
  background-color: #ffffff;
}

.box{
  border: solid 1.5px forestgreen;
  border-radius: 5px;
  margin: 40px;
  padding: 10px;
}


h1, h4{
  font-family: 'Josefin Sans', sans-serif;
  color: forestgreen;
  text-align: center;
}

p{
  font-family: 'Josefin Sans', sans-serif;
}

#finalCalculation{
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 15px;
}
form{
  text-align: center;
}

footer{
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
